.CartItem {
    border-bottom: 1px solid gray;
    padding: 30px 0;
    margin-top: 20px;
  }
  
  li {
    list-style-type: none;
    height: 100px;
    display: flex;
    gap: 5px;
    align-items: center;
  }
  
  li img {
    height: 100px;
    width: 100px;
    object-fit: cover;
  }
  .CartItem:nth-child(1) {
    border-top: 1px solid gray;
  }
  
  .CartClick {
    margin-left: auto;
    padding: 40px 8px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: #000;
  }
  
  .CartClick:focus,
  .CartClick:active {
    outline: none;
  }

